.favourite .rob {
  width: 10rem;
  height: 1.21875rem;
  background: #f7f7f7;
  text-align: center;
}
.favourite .rob h3 {
  height: 100%;
  line-height: 1.21875rem;
  font-size: 0.3125rem;
  color: #9b9b9b;
}
.favourite .good_cate {
  width: 100%;
}
.favourite .good_cate ul {
	
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.favourite .good_cate ul li {
  width: 48%;
}
.favourite .good_cate ul li img {
  width: 4.96875rem;
}
.favourite .good_cate ul li + li {
  margin-left: 0.0625rem;
}
.favourite .good_cate .price {
  margin: 0.25rem 0 0.15625rem 0;
}
.favourite .good_cate .new_price {
  margin-left: 0.1875rem;
  color: #ff464e;
  font-size: 0.375rem;
}
.favourite .good_cate .old_price {
  margin-left: 0.21875rem;
  font-size: 0.21875rem;
  color: #bdbdbd;
}
.favourite .good_cate .time_info {
  margin-left: 1rem;
}
.favourite .good_cate h3 {
  font-size: 0.34375rem;
  margin: 0.15625rem 0 0 0.1875rem;
}
.favourite .good_cate button {
  background: #ff464e;
  width: 4.34375rem;
  height: 1.0rem;
  border: 0;
  font-size: 0.375rem;
  color: #ffffff;
  margin-top: 0.3rem;
  margin-left: 0.3125rem;
}
