<div class="home">
    <!-- 顶部下载app图 -->
    <div class="down_pic">
        <img src="./home/img/go_load_new.png" alt="" />
    </div>
    <!-- 头部 -->
	<div class="header">
        <h1>卷皮</h1>
        <img src="./home/img/btn-sign.png" alt="" />
    </div>
    <!-- 导航 -->
    <div class="nav">
        <ul>
            <li>
                <a ui-sref="home" class="active">上新</a>
            </li>
            <li>
                <a ui-sref="home.nvzhuang">女装</a>
            </li>
            <li>
                <a ui-sref="home.shoes">鞋包</a>
            </li>
            <li>
                <a href="###">母婴</a>
            </li>
            <li >
                <a class="jjsm" href="###">居家数码</a>
            </li>
            <li>
                <a href="###">男士</a>
            </li>
            <li>
                <a href="###">美妆</a>
            </li>
            <li>
                <a href="###">美食</a>
            </li>
        </ul>
    </div>
    <div ui-view>
        <!-- banner -->
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="item in homeCtrl.dswiper"><img ng-src="{{item.pic}}"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- 广告模块 -->
        <div class="ad_bar">
            <ul>
                <li>
                    <a ui-sref="activity.crazy">
                        <img src="./home/img/zuihoufengqiang.png" alt="" />
                        <p>最后疯抢</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="freepost.post">
                        <img src="./home/img/9.9yuan.png" alt="" />
                        <p>9.9包邮</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="shoppin.pintuan">
                        <img src="./home/img/pintuan.png" alt="" />
                        <p>拼团</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="goonline.online">
                        <img src="./home/img/jijiangshangxian.png" alt="" />
                        <p>即将上线</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 购物广告模块 -->
        <div class="ad_shop_list">
            <ul>
                <li>
                    <a href="###">
                        <img src="./home/img/58c7ac6ca43d1f391f7d6c54_375x456.png" alt="" />
                    </a>
                </li>
                <li>
                    <a href="###">
                        <img src="./home/img/58ca635da43d1f515d148012_375x228.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="###">
                        <img src="./home/img/58cfb833ad0a49d12a8b45bb_375x228.jpg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
        <!-- 商品更新时间 -->
        <div class="update_time">
            <img src="./home/img/58c20db7a43d1f63427015d8_750x96.jpg" alt="" />
        </div>
        <!-- 商品详情列表 -->
        <div class="goods_list">
            <ul>
                <li ng-repeat="item in homeCtrl.data">
                    <a ui-sref="shop">
                        <img ng-src="{{item.pic_url}}" alt="" />
                    </a>
                    <div class="goods_info">
                        <span class="price_info">满2件减12元</span>
                        <span class="time_info">{{item.residue}}</span>
                        <h3>{{item.title}}</h3>
                        <span class='goods_icon'></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
