<div class="nvzhuang">
    <!-- banner -->
   <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="item in nzCtrl.dswiper"><img ng-src="{{item.pic}}"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 广告模块 -->
    <div class="ad_bar">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58aa61ad151ad17b7f8b4593_200x220.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58aa61cd151ad1b1768b45a6_200x220.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58aa61f0db01d97f748b4578_200x220.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58aa620d151ad142028b457b_200x220.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58aa624ddb01d917748b4578_200x220.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58aa628c151ad1b47d8b4597_200x220.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58aa6278151ad142028b457e_200x220.jpg" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58ab94d9151ad1181a8b4589_200x220.jpg" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <!-- 购物广告模块 -->
    <div class="ad_shop_list">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58cf3798a43d1f03fa5b4f52_375x456 (1).png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58cf3798a43d1f03fa5b4f52_375x456 (2).png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58cf3798a43d1f03fa5b4f52_375x456 (3).png" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <!-- 商品更新时间 -->
    <div class="update_time">
        <img src="./home/img/58c20db7a43d1f63427015d8_750x96.jpg" alt="" />
    </div>
    <!-- 商品详情列表 -->
    <div class="goods_list">
        <ul>
            <li ng-repeat='item in nzCtrl.data'>
                <a href="javascript:;">
                    <img lazy-src="{{item.pic_url}}" alt="" />
                </a>
                <div class="goods_info">
                    <span class="price_info">满2件减12元</span>
                    <span class="time_info">{{item.residue}}</span>
                    <h3>{{item.title}}</h3>
                    <span class='goods_icon'></span>
                </div>
            </li>
            <!--<li>
                <a href="javascript:;">
                    <img src="./home/img/58c510f4a43d1f0e53533ff4_800x800.jpg" alt="" />
                    <div class="goods_info">
                        <span class="price_info">满2件减12元</span>
                        <span class="time_info">上新</span>
                        <h3>淑女丽丝</h3>
                        <span class='goods_icon'></span>
                    </div>
                 </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c510f4a43d1f0e53533ff4_800x800.jpg" alt="" />
                    <div class="goods_info">
                        <span class="price_info">满2件减12元</span>
                        <span class="time_info">上新</span>
                        <h3>淑女丽丝</h3>
                        <span class='goods_icon'></span>
                    </div>
                 </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c510f4a43d1f0e53533ff4_800x800.jpg" alt="" />
                    <div class="goods_info">
                        <span class="price_info">满2件减12元</span>
                        <span class="time_info">上新</span>
                        <h3>淑女丽丝</h3>
                        <span class='goods_icon'></span>
                    </div>
                 </a>
            </li>-->
        </ul>
    </div>
</div>