
<div class="online">
    <div class="header">
        <a href="javascript:window.history.back()">
            <img src="./home/img/btn-back.png" alt="" />
        </a>
        <span>即将上线</span>
    </div>
    <div class="goods_list">
        <ul>
            <li ng-repeat="item in data">
                <a ui-sref="substr" ng-click="addGoods()">
                    <img lazy-src="{{item.pic_url}}" alt="" />
                </a>
                <div class="goods_info">
                    <span class="price_info">{{item.oprice}}</span>
                    <span class="time_info">{{item.time_left}}</span>
                    <h3>{{item.title}}</h3>
                    <span class='goods_icon'></span>
                </div>
            </li>
           
        </ul>
    </div>
</div>