<div class="shoes">
    <!-- banner -->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="item in shCtrl.dswiper"><img ng-src="{{item.pic}}"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 广告模块 -->
    <div class="ad_bar">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c0b0c3ad0a49ab5b8b457d_200x212.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c0b0baa43d1f17b10c2b8c_200x212.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c0b0b4a43d1f177c71ca2a_200x212.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c0b0aca43d1f175e41539a_200x212.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c0b0a7ad0a49335c8b4577_200x212.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c0b0cead0a497c5b8b457f_200x212.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c0b0caa43d1f17da6f9a0b_200x212.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c0b0c6ad0a49445c8b457d_200x212.png" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <!-- 购物广告模块 -->
    <div class="ad_shop_list">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58cb8abca43d1f7e85345f5e_375x456.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58cfadc4a43d1f3cb33c57f0_375x228.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c9ea64a43d1f15ed68c3f0_375x228.png" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <!-- 鞋子模块 -->
    <div class="shop_item">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58cba0b0ad0a49ab8b8b4597_375x180.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58d1dd2ca43d1f19de3063ae_375x180.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58d1dd50a43d1f27af6a7ba4_375x180.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58cbb2a1a43d1f240a1c0596_375x180.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58d1dcc6ad0a490a0a8b4589_375x180.png" alt="" />
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58cba037ad0a49cb8a8b458d_375x180.png" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <!-- 商品更新时间 -->
    <div class="update_time">
        <img src="./home/img/58c20db7a43d1f63427015d8_750x96.jpg" alt="" />
    </div>
    <!-- 商品详情列表 -->
    <div class="goods_list">
        <ul>
            <li ng-repeat='item in shCtrl.data'>
                <a href="javascript:;">
                    <img lazy-src="{{item.pic_url}}" alt="" />
                </a>
                <div class="goods_info">
                    <span class="price_info">满2件减12元</span>
                    <span class="time_info">{{item.residue}}</span>
                    <h3>{{item.title}}</h3>
                    <span class='goods_icon'></span>
                </div>
            </li>
            <!--<li>
                <a href="javascript:;">
                    <img src="./home/img/58c510f4a43d1f0e53533ff4_800x800.jpg" alt="" />
                    <div class="goods_info">
                        <span class="price_info">满2件减12元</span>
                        <span class="time_info">上新</span>
                        <h3>淑女丽丝</h3>
                        <span class='goods_icon'></span>
                    </div>
                 </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c510f4a43d1f0e53533ff4_800x800.jpg" alt="" />
                    <div class="goods_info">
                        <span class="price_info">满2件减12元</span>
                        <span class="time_info">上新</span>
                        <h3>淑女丽丝</h3>
                        <span class='goods_icon'></span>
                    </div>
                 </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="./home/img/58c510f4a43d1f0e53533ff4_800x800.jpg" alt="" />
                    <div class="goods_info">
                        <span class="price_info">满2件减12元</span>
                        <span class="time_info">上新</span>
                        <h3>淑女丽丝</h3>
                        <span class='goods_icon'></span>
                    </div>
                 </a>
            </li>-->
        </ul>
    </div>
</div>