<div class="search">
	<div  id="header">
		<input type="text" placeholder="生活用品/春季新品/文具" id="myinput" ng-keyup="find()">
		<span onclick="window.history.back()">取消</span>
	</div>
	 
	 <div id="find">
	 	<label id="lable">价格：</label>
	 	 <select id="select1" ng-click="click1()">
	 	 	<option value = "请选择">请选择</option>
	 	 	<option value="10">10</option>
	 	 	<option value="20">20</option>
	 	 	<option value="30">30</option>
	 	 	<option value="40">40</option>
	 	 	<option value="50">50</option>
	 	 </select>~
	 	 <select id="select2" ng-click="click()">
	 	 	<option value = "请选择">请选择</option>
	 	 	<option value="20">20</option>
	 	 	<option value="30">30</option>
	 	 	<option value="40">40</option>
	 	 	<option value="50">50</option>
	 	 	<option value="60">60</option>
	 	 </select>
	 </div>
	 
	 
	 
	<div id="main3">		  
		  	  	
		  	  	    <figure ng-repeat="item in data track by $index" >
		  	  	    	<a ng-click="addgoods()">  
		  	  	    	<img ng-src="{{ item.pic_url||item.picurl||item.pgpicurl||item.r2}}" />
		  	  	    	 <figcaption>
		  	  	    	 	 <p><span>{{item.title || item.q}}</span><span>￥{{item.cprice || item.h}}</span></p>
		  	  	    	 	 
		  	  	    	 	 <p><span>S</span><span>杏色</span><span>￥{{item.oprice || item.i}}</span></p>
		  	  	    	 	 
		  	  	    	 	 <p><span ng-click="add()"></span><span>{{item.count}}</span><span ng-click="jian()"></span><span ng-click="delect()"></span></p>
		  	  	    	 </figcaption>
		  	  	    	 </a>
		  	  	    </figure>
		  	 
    </div>
	
		<div id="main4">
		  	  	  
		  	  	    <figure ng-repeat="item in dataArr track by $index">
		  	  	    	<a ng-click="addgoods()">  
		  	  	    	<img ng-src="{{ item.pic_url||item.picurl||item.pgpicurl||item.r2}}" />
		  	  	    	 <figcaption>
		  	  	    	 	 <p><span>{{item.title || item.q}}</span><span>￥{{item.cprice || item.h}}</span></p>
		  	  	    	 	 
		  	  	    	 	 <p><span>S</span><span>杏色</span><span>￥{{item.oprice || item.i}}</span></p>
		  	  	    	 	 
		  	  	    	 	 <p><span ng-click="add()"></span><span>{{item.count}}</span><span ng-click="jian()"></span><span ng-click="delect()"></span></p>
		  	  	    	 </figcaption>
		  	  	    	 </a>
		  	  	    </figure>
		  	 		
    </div>
    
</div>
