@charset "utf-8";
* {
  box-sizing: border-box;
  font-family: PingFang-SC-Regular, Helvetica Neue, Helvetica, Droid Sans Fallback, microsoft yahei, sans-serif;
}
.crazy .header {
  height: 1.40625rem;
  border-bottom: 0.03125rem solid #ebebeb;
  line-height: 1.40625rem;
}
.crazy .header a {
  display: inline-block;
  width: 0.59375rem;
  height: 0.59375rem;
  margin: 0 2.8125rem 0 0.46875rem;
}
.crazy .header a img {
  width: 100%;
}
.crazy .header span {
  font-size: 0.53125rem;
  color: #4a4a4a;
}
.crazy .goods_list {
  margin-top: 0.09375rem;
  background: #f7f7f7;
  height: 15.625rem;
}
.crazy .goods_list ul {
  display: flex;
  flex-wrap: wrap;
}
.crazy .goods_list ul li {
  width: 50%;
  height: 6.90625rem;
}
.crazy .goods_list ul li:nth-of-type(2n) {
  float: right;
}
.crazy .goods_list img {
  width: 4.9375rem;
  height: 4.96875rem;
}
.crazy .goods_list .goods_info {
  height: 1.9375rem;
  padding: 0 0.1875rem 0 0.21875rem;
  position: relative;
}
.crazy .goods_list .goods_info .price_info {
  display: inline-block;
  color: #ff6067;
  font-size: 0.4375rem;
  margin: 0.21875rem 0 0 0;
}
.crazy .goods_list .goods_info .time_info {
  color: #c2c2c2;
  font-size: 0.3125rem;
  -webkit-transform: scale(0.8);
  display: inline-block;
  margin-left: 2.3rem;
}
.crazy .goods_list .goods_info h3 {
  font-size: 0.375rem;
  color: #7d7d7d;
}
.crazy .goods_list .goods_info .goods_icon {
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  background: url(../img/icon-brand.png) no-repeat right center;
  background-size: 0.375rem 0.375rem;
  position: absolute;
  left: 4.1875rem;
  top: 1.09375rem;
}
