<link rel="stylesheet" type="text/css" href="world/css/world.css"/>
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="css/reset.css" />
<div class="world">
	<header class="header">
		<span class="worldBuy">全球购</span>
		<a class="worldsearch" href="#"></a>
	</header>
	<div class="Carousel">
		<!--轮播图-->
		<img src="world/img/lb.png"/>
	</div>
	<div class="col">
		<a ui-sref="shop"><img src="world/img/col_img1.jpg"/></a>
		<a ui-sref="shop"><img src="world/img/col_img2.jpg"/></a>
		<a ui-sref="shop"><img src="world/img/col_img3.jpg"/></a>
		<a ui-sref="shop"><img src="world/img/col_img4.jpg"/></a>
	</div>
	<div class="col_clear">
		
	</div>
	<div class="clear">
		<a ui-sref="shop"><img src="world/img/clear_img1.png"/></a>
		<a ui-sref="shop"><img src="world/img/clear_img2.png"/></a>
	</div>
	<div class="col_clear">
		
	</div>
	<div class="brand">
		<a href="#"><img src="world/img/brand_img1.png"/></a>
		<a href="#"><img src="world/img/brand_img2.png"/></a>
		<a href="#"><img src="world/img/brand_img3.png"/></a>
		<a href="#"><img src="world/img/brand_img4.png"/></a>
		<a href="#"><img src="world/img/brand_img5.png"/></a>
		<a href="#"><img src="world/img/brand_img6.png"/></a>
		<a href="#"><img src="world/img/brand_img7.png"/></a>
		<a href="#"><img src="world/img/brand_img8.png"/></a>
	</div>
	<div class="goods">
		<ul>
			<li ng-repeat=" item in worldCtrl.word">
				<div class="goods_jiaobiao">
					{{ item.coupon.rules[0].aeBankInfo}}
				</div>
				<a ui-sref="shop">
					<img src="{{ item.shop_cover}}"/>
				</a>
				<div class="yinliu_box">
					<div class="yinliu_list" >
						<div class="yinliu_good" ng-repeat=" item1 in item.shop_goods">
							<a ng-click="addGoods()" class="good_pic">
								<img src="{{ item1.pic_url}}"/>
							</a>
							<a href="#" class="good_detail" >
								<div class="price_new">
									￥{{ item1.cprice}}
								</div>
								<div class="price_del">
									￥{{ item1.oprice}}
								</div>
								<div class="good_name">
									{{ item1.title}}
								</div>
							</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
