body{
	background-color: #f7f7f7;
}
.cart{
	height: 14rem;
	overflow-y: scroll;
}
#header2{
	height: 1.34375rem;
	line-height: 1.34375rem;
	width: 10rem;
	border-bottom: 0.03125rem solid #f1f1f1;
	background-color: white;
/*	margin-bottom: 1.46875rem;*/
}
#header2 span{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 6.25rem;
	height: 2.75rem;
	font-size: 0.625rem;
}
/*------------------------------------*/
#first{
	display: none;
}
#main{
	margin-top: 1.26875rem;
	height: 8.59375rem;
	background-color: white;
	
}

#main #main_1{
	height: 4.375rem;
}
#main_1 img{
	margin: 1.125rem 0 0 3.1875rem;
	width: 3.75rem;
	height: 3.125rem;
}
#main #main_2{
	height: 1.875rem;
}
#main_2 p{
	margin-top: 0.3125rem;
	margin-bottom: 0.3125rem;
	font-size: 0.46875rem;
	text-align: center;
	font-weight: bolder;
}
#main_2 span{
	display: block;
     text-align: center;
     font-size: 0.40625rem;
     color: #9b9b9b; 
     margin-bottom: 0.25rem;
}
#main input[type=button]{
    margin-left: 2.8125rem;
	width: 4rem;
	height: 1.25rem;
	color: red;
	border: 0.03125rem solid red;
}
#footer{
	
}
#footer #p2{
	text-align: center;
	color: #CCCCCC;
	margin-top: 0.3125rem;
}
#footer figure{
	margin-top: 0.3125rem;
	width: 9.25rem;
	margin-left: 0.375rem;
	height: 2.925rem;
}
#footer figure img{
	float: left;
	width: 2.1875rem;
	height: 2.1875rem;
	margin-right: 0.46875rem;
}
#footer figcaption p{
	margin-bottom: 0.125rem;
}
#footer figcaption p:first-of-type span:first-of-type{
	font-size: 0.4375rem;
	margin-right: 1.595rem;
}

#footer figcaption p:nth-of-type(2) span{
	color: #CCCCCC;
}
#footer figcaption p:nth-of-type(2) span:first-of-type{
	margin-right: 0.15625rem;
}
#footer figcaption p:nth-of-type(2) span:nth-of-type(2){
	margin-right: 3.96875rem;
}
#footer figcaption p:last-of-type span:first-of-type{
	float: left;
	height: 0.71875rem;
	width: 0.71875rem;
	background-color: #f7f7f7;
}
#footer figcaption p:last-of-type span:nth-of-type(2){
	float: left;
	height: 0.71875rem;
	width: 1.15625rem;
	text-align: center;
	line-height: 0.71875rem;
}
#footer figcaption p:last-of-type span:first-of-type{
	float: left;
	width: 2.15625rem;
	height: 0.75rem;
	border: 0.03125rem solid black;
	line-height: 0.75rem;
	text-align: center;
}
#footer figcaption p:last-of-type span:last-of-type{
	float: right;
	width: 2.15625rem;
	height: 0.75rem;
	line-height: 0.75rem;
	text-align: center;
}
/*-----------------------------------------------*/

#second{
	/*display: none;*/
}
#second #time{
	width: 10rem;
	height: 1.0625rem;
	background-color:#fef5e4 ;
	line-height: 1.0625rem;
	text-align: center;
}
#time span{
	color: #ff7b0c;
	font-size: 0.375rem;
}
#main1{
	/*height: 6.0625rem;*/
	background-color: white;
	padding-top: 0.003125rem;
/*	margin-bottom: 4.6875rem;*/
}
#p1{
	margin-top: 0.5625rem;
	margin-left: 0.375rem;
	width: 9.25rem;
	height: 0.9375rem;
	line-height: 0.9375rem;
	background: url(../../mine/img/mine/details.png) no-repeat right center;
	background-size: 0.625rem 0.625rem;
	background-color: #f7f7f7;
}
#p1 span:first-of-type{
	text-align: center;
	margin-left: 0.15625rem;
	margin-top: 0.1875rem;
	display: inline-block;
	width: 1.3125rem;
	height: 0.46875rem;
	line-height: 0.46875rem;
/*	border: 1px solid red;*/
/*	color: red;*/
	font-size: 0.375rem;
}
#p1 span:last-of-type{
	text-align: center;
	margin-left: 0.35625rem;
	margin-top: 0.1875rem;
	width: 1.3125rem;
	height: 0.46875rem;
	line-height: 0.46875rem;
	font-size: 0.375rem;
}
#main1 figure{
	margin-top: 0.3125rem;
	width: 9.25rem;
	margin-left: 0.375rem;
	height: 2.925rem;
	border-bottom: 1px solid #CCCCCC;
}
#main1 figure img{
	float: left;
	width: 2.1875rem;
	height: 2.1875rem;
	margin-right: 0.46875rem;
}
#main1 figcaption p{
	margin-bottom: 0.125rem;
}
#main1 figcaption p:first-of-type span:first-of-type{
	width: 3.125rem;
	font-size: 0.4375rem;
	/*margin-right: 1.595rem;*/
}

#main1 figcaption p:first-of-type span:nth-of-type(2){
	float: right;
	margin-right: 0.71875rem;
}

#main1 figcaption p:nth-of-type(2) span{
	color: #CCCCCC;
}
#main1 figcaption p:nth-of-type(2) span:first-of-type{
	margin-right: 0.15625rem;
}
#main1 figcaption p:nth-of-type(2) span:nth-of-type(2){
	margin-right: 3.96875rem;
}
#main1 figcaption p:last-of-type span:first-of-type{
	float: left;
	height: 0.71875rem;
	text-align: center;
	line-height: 0.71875rem;
	width: 0.71875rem;
	background-color: #f7f7f7;
}
#main1 figcaption p:last-of-type span:nth-of-type(2){
	float: left;
	height: 0.71875rem;
	width: 1.15625rem;
	text-align: center;
	line-height: 0.71875rem;
}
#main1 figcaption p:last-of-type span:nth-of-type(3){
	float: left;
	height: 0.71875rem;
	text-align: center;
	line-height: 0.71875rem;
	width: 0.71875rem;
	background-color: #f7f7f7;
}
#main1 figcaption p:last-of-type span:nth-of-type(4){
	float: right;
	height: 0.71875rem;
	width: 0.71875rem;
	color: #CCCCCC;
	font-size: 0.5rem;
}
/*------------------------------------*/
#main1_1{
	width: 9.25rem;
	height: 1.46875rem;
	line-height: 1.46875rem;
}
#main1_1 span{
	float: right;
	font-size: 0.46875rem;
	
}
/*------------------------------------*/

#footer1{
	position: fixed;
    bottom: 2.8125rem;
	height: 1.3125rem;
	line-height: 1.3125rem;
	width: 10rem;
	background-color: white;
}
#footer1 p:first-of-type span:first-of-type{
	margin-left: 1.375rem;
	font-size: 0.5rem;
}
#footer1 p:first-of-type span:nth-of-type(2){
	font-size: 0.4375rem;
	color: red;
	width: 1.5625rem;
}
#footer1 p:first-of-type span:nth-of-type(3){
	font-size: 0.375rem;
	color: #CCCCCC;
}
#footer1 P:last-of-type{
	height: 1.5625rem;
	line-height: 1.5625rem;
	background-color: #ff464e;
	text-align: center;
}
#footer1 P:last-of-type span{
	color: white;
	font-size: 0.5rem;
	
}

/*------------------------------------*/








